<main>
    <h2>Members of the {{family.name}} Family</h2>
    
    <ul>
        {{#each family.members as |sister|}}
            <li><a href="/sisters/{{sister._id}}">{{sister.firstname}} {{sister.lastname}}</a></li>
        {{/each}}
    </ul>
    
    <section class="family-options">
        <form action="/families/{{family.id}}/edit">
            <input type="submit" value="Edit">
        </form>
    </section>
</main>