<main>
    <h2>Add a Sister</h2>
    {{#if message}}
        Sorry, sisters can only have one little at any time.
    {{/if}}
    <form method="POST" action="/sisters" class="new-sister">
        <label for="name">Name</label>
        <section class="name">
            <section class="first-name">
                <p>First Name</p>
                <input type="text" name="firstname" id="first-name" class="first-name">
            </section>
            <section class="last-name">
                <p>Last Name</p>
                <input type="text" name="lastname" id="last-name">
            </section>
        </section>

        <label for="year">Graduation</label>
        <input type="month" name="year" id="year">
            
        <label for="year">Pledge class</label>
        <select name="pledgeclass">
            <option value="Alpha Omicron">Alpha Omicron</option>
            <option value="Alpha Pi">Alpha Pi</option>
            <option value="Alpha Rho">Alpha Rho</option>
            <option value="Alpha Sigma">Alpha Sigma</option>
            <option value="Alpha Tau">Alpha Tau</option>
            <option value="Alpha Upsilon">Alpha Upsilon</option>
            <option value="Alpha Phi">Alpha Phi</option>
            <option value="Alpha Chi">Alpha Chi</option>
            <option value="Alpha Psi">Alpha Psi</option>
            <option value="Alpha Omega">Alpha Omega</option>
        </select>
        
        <label for="family">Family</label>
        <select name="family">
            {{#each families as |family|}}
                <option value="{{family.name}}">{{family.name}}</p>
            {{/each}}
        </select>
        
        <label for="big">Big</label>
        <select name="big">
            {{#each sisters as |sister|}}
                <option value="{{sister.id}}">{{sister.firstname}} {{sister.lastname}}</p>
            {{/each}}
        </select>
        
        <button type="submit">Submit</button>
    </form>
</main>