<h2>Meet {{sister.firstname}}</h2>
{{#if sister}}
<ul>
    <li>Name: {{sister.firstname}}</li>
    <li>Year: {{sister.year}}</li>
    <li>Pledge Class: {{sister.pledgeclass}}</li>
</ul>
<p>
    <a href="/sisters/{{sister.id}}/edit">Edit sister info</a>
</p>
{{/if}}