<main>
    {{#if sister}}
    <h2>Meet {{sister.firstname}}</h2>
    <ul>
        <li>Name: {{sister.firstname}} {{sister.lastname}}</li>
        <li>Year: {{sister.year}}</li>
        <li>Pledge Class: {{sister.pledgeclass}}</li>
        <li>Family: {{sister.family}}</li>
        {{#if big}}
        <li>Big: <a href="/sisters/{{big.id}}">{{big.firstname}} {{big.lastname}}</a></li>
        {{/if}}
        {{#if littles}}
        <li>Little(s):
            {{#each littles as |little|}}
                <a href="/sisters/{{little.id}}">{{little.firstname}} {{little.lastname}}</a>
            {{/each}}
        </li>
        {{/if}}
    </ul>

    <section class="sister-options">
        <form action="/sisters/{{sister.id}}?_method=DELETE" method="post" class="d-inline">
            <input type="submit" value="Delete">
        </form>
        <form action="/sisters/{{sister.id}}/edit">
            <input type="submit" value="Edit">
        </form>
    </section>

    {{#else}}
        No sister!
    {{/else}}
    {{/if}}
</main>